body {
    background-color: lightblue;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    margin:auto;
    font-size: 20px;
}

.pages {
    display: table;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

.page-number {
    border: 1px solid black;
    display: table-cell;
    height: 40px;
    width: 40px;
    background-color: antiquewhite;
    vertical-align: middle;
}


.clickable:hover {
    background-color: beige;
    cursor: pointer;
}

.range {
    width: 200px;
}

.invisible {
    color: lightblue;
}

.cart.headline, .cart.item {
    border: 1px solid black;
    display: inline-block;
    width: 200px;
}

.item-in-cart-container .remove:hover , .add:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.sort-img {
    width: 5%;
    height: 5%;
    margin: 0;
    padding: 0;
    display: inline;
}

.sort-img:hover {
    cursor: pointer;
}